{% extends 'base.html' %}


{% block title %}AQI Guide{% endblock %}

{% block content %}



<div>

    <p class="mb-10">An increase in the AQI value denotes a raised level of air pollution and potential health risks.</p>

    <table class="table-auto w-full border-collapse border border-gray-300">
        <thead>
          <tr class="border-2 border-gray-300">
            <th class="px-4 py-2 border-r border-gray-300 w-1/12">AQI Value</th>
            <th class="px-4 py-2 border-r border-gray-300 w-1/12">Air Pollution Banding</th>
            <th class="px-4 py-2 border-r border-gray-300 max-w-xs">Health Messages for at risk individuals*</th>
            <th class="px-4 py-2 border-r border-gray-300 max-w-xs">Health messages for the general population</th>
          </tr>
        </thead>
        <tbody class="text-sm">
          <!-- Low Category -->
          <tr>
            <td class="px-4 py-2 border-r border-gray-300 w-1/12" style="background-color: #a0fc9c;">1</td>
            <td class="px-4 py-2 border-r border-gray-300 max-w-xs" rowspan="3">Low</td>
            <td class="px-4 py-2 border-r border-gray-300 max-w-xs" rowspan="3">
              Enjoy your usual outdoor activities
            </td>
            <td class="px-4 py-2" rowspan="3">
              Enjoy your usual outdoor activities
            </td>
          </tr>
          <tr>
            <td class="px-4 py-2 border-r border-gray-300 w-1/12" style="background-color: #38fc04;">2</td>
          </tr>
          <tr class="border-b-2 border-gray-300">
            <td class="px-4 py-2 border-r border-gray-300 w-1/12" style="background-color: #38cc04;">3</td>
          </tr>
          <!-- Moderate Category -->
          <tr>
            <td class="px-4 py-2 border-r border-gray-300 w-1/12" style="background-color: #fffc04;">4</td>
            <td class="px-4 py-2 border-r border-gray-300 max-w-xs" rowspan="3">Moderate</td>
            <td class="px-4 py-2 border-r border-gray-300 max-w-xs" rowspan="3">
              Adults and children with lung problems, and adults with heart problems, who experience symptoms, should consider reducing strenuous physical activity, particularly outdoors.	
            </td>
            <td class="px-4 py-2" rowspan="3">
              Enjoy your usual outdoor activities
            </td>
          </tr>
          <tr>
            <td class="px-4 py-2 border-r border-gray-300 w-1/12" style="background-color: #fccc04;">5</td>
          </tr>
          <tr class="border-b-2 border-gray-300">
            <td class="px-4 py-2 border-r border-gray-300 w-1/12" style="background-color: #ff9c04;">6</td>
          </tr>
          <!-- High Category -->
          <tr>
            <td class="px-4 py-2 border-r border-gray-300 w-1/12" style="background-color: #ff6464;">7</td>
            <td class="px-4 py-2 border-r border-gray-300 max-w-xs" rowspan="3">High</td>
            <td class="px-4 py-2 border-r border-gray-300 max-w-xs" rowspan="3">
              Adults and children with lung problems, and adults with heart problems, should reduce strenuous physical exertion, particularly outdoors, and particularly if they experience symptoms. People with asthma may find they need to use their reliever inhaler more often. Older people should also reduce physical exertion.	
            </td>
            <td class="px-4 py-2 max-w-xs" rowspan="3">
              Anyone experiencing discomfort such as sore eyes, cough or sore throat should consider reducing activity, particularly outdoors.
            </td>
          </tr>
          <tr>
            <td class="px-4 py-2 border-r border-gray-300 w-1/12" style="background-color: #ff0404;">8</td>
          </tr>
          <tr class="border-b-2 border-gray-300">
            <td class="px-4 py-2 border-r border-gray-300 w-1/12" style="background-color: #a00404;">9</td>
          </tr>
          <!-- Very High Category -->
          <tr class="border-b-2 border-gray-300">
            <td class="px-4 py-2 border-r border-gray-300 w-1/12" style="background-color: #d034fc;">10</td>
            <td class="px-4 py-2 border-r border-gray-300 w-1/12">Very High</td>
            <td class="px-4 py-2 border-r border-gray-300 max-w-xs">
              Adults and children with lung problems, adults with heart problems, and older people, should avoid strenuous physical activity. People with asthma may find they need to use their reliever inhaler more often.	            </td>
            <td class="px-4 py-2 max-w-xs">
              Reduce physical exertion, particularly outdoors, especially if you experience symptoms such as cough or sore throat.
            </td>
          </tr>
        </tbody>
      </table>
      <div class="my-5">
        <a href="https://uk-air.defra.gov.uk/air-pollution/daqi" target="_blank" class="text-indigo-600 hover:text-indigo-900 transition duration-300 ease-in-out">
          Learn more about the AQI
        </a>
      </div>
</div>

{% endblock %}