{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <mata name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Leaflet as a CDN -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>

        <!--Chart.js CDN-->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/@sgratzl/chartjs-chart-boxplot@3.6.0/build/index.umd.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js" integrity="sha512-wUYbRPLV5zs6IqvWd88HIqZU/b8TBx+I8LEioQ/UC0t5EMCLApqhIAnUg7EsAzdbhhdgW07TqYDdH3QEXRcPOQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

       
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

        <!-- Flatpickr as a CDN for date range picker -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"> 
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

        <!-- Tailwind as a CDN -->
        <script src="https://cdn.tailwindcss.com"></script>
        <title> {% block title%}{% endblock %} | Sensors</title>
    </head>
    <body>
    <!-- <body style="background: linear-gradient(to right, #b4bccd, #889ebc);"> -->
        <header>
            <nav class="navbar">
              <a href="#" class="nav-branding">Sensors</a>
              <ul class="nav-menu">
                <li class="nav-item">
                  <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Sign up</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Log in</a>
                </li>
              </ul>
              <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </nav>
          </header>
         
          <!--Period filter change-->
          <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-2 py-20">
            <div class="flex justify-end">
              <button onclick="periodFilterChanged(event)" class="bg-blue-500 text-white font-medium py-1 px-3 text-sm  rounded-l hover:bg-blue-600 focus:outline-none focus:shadow-outline periodFilters">Daily</button>
              <button onclick="periodFilterChanged(event)" class="bg-gray-200 text-gray-700 font-medium py-1 px-3 text-sm  hover:bg-gray-300 focus:outline-none focus:shadow-outline periodFilters">Weekly</button>
              <!-- <button onclick="periodFilterChanged(event)" class="bg-gray-200 text-gray-700 font-medium py-1 px-3 text-sm  rounded-r hover:bg-gray-300 focus:outline-none focus:shadow-outline periodFilters">Monthly</button> -->
            </div>


          <div class="flex justify-between items-center m-6">
            <!-- Placeholder for the central heading, which will be added dynamically -->
            <div id="weekRangeHeading" class="text-sm font-semibold text-gray-900"></div>


            <div>
            <!-- Date Filter Input -->
            <input type="date" id="dateFilter"
              class="px-4 shadow-lg border border-gray-300 rounded focus:outline-none focus:border-indigo-500 focus:shadow-outline-indigo" 
              onchange="dateChanged()">
            
            <!-- Week Filter Input -->
            <input type="week" id="weekFilter" placeholder="Week" 
            class="px-4 shadow-lg border border-gray-300 rounded focus:outline-none focus:border-indigo-500 focus:shadow-outline-indigo hidden" 
            onchange="weekChanged()">
            </div>
          </div> 
          
            

            <div class="flex justify-between">
              <div class="flex space-x-2">
                <!-- Sensor selection dropdown -->
                <div id="sensor1div">
                  <label for="sensor1" class="block text-sm font-medium text-gray-700">Sensor ID:</label>
                  <select id="sensor1" name="sensor1" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
                  onchange="sensorIdChanged()">
                    {% for sensor_id in sensor_ids %}
                      <option value="{{ sensor_id }}">{{ sensor_id }}</option>
                      {% endfor %}
                  </select>
                </div>
                
                <!-- Second sensor dropdown, hidden by default -->
                <div id="sensor2div" class="hidden">
                  <label for="sensor2" class="block text-sm font-medium text-gray-700">Sensor ID 2:</label>
                  <select id="sensor2" name="sensor2" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
                  onchange="sensorIdChanged()">
                    {% for sensor_id in sensor_ids %}
                        <option value="{{ sensor_id }}">{{ sensor_id }}</option>
                    {% endfor %}
                  </select>
              </div>
            </div>
            <div>
              <!-- Toggle for comparing two sensors -->
              <div class="flex items-center h-5">
                <input id="compareTwoSensors" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" onchange="toggleSensorComparison(this)">
                <label for="compareTwoSensors" class="ml-2 block text-sm text-gray-900">
                    Compare two sensors
                </label>
              </div>
                <!-- Checkbox for comparing against average trend -->
              <div class="flex items-center h-5">
                <input id="compareAverageTrend" name="compareAverageTrend" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" onchange="toggleCompareAverageTrend(this)" >
                <label for="compareAverageTrend" class="ml-2 block text-sm text-gray-900">
                    Compare against average trend
                </label>
              </div>
            </div>
          </div>
          <!-- Chart type change -->
          <div class="flex justify-end">
            <button onclick="chartTypeChanged(event)" class="bg-gray-200 text-gray-700 font-medium py-1 px-3 text-sm  rounded-l hover:bg-gray-300 focus:outline-none focus:shadow-outline chartTypes">Line</button>
            <button onclick="chartTypeChanged(event)" class="bg-gray-200 text-gray-700 font-medium py-1 px-3 text-sm  rounded-l hover:bg-gray-300 focus:outline-none focus:shadow-outline chartTypes">Scatter</button>
            <button onclick="chartTypeChanged(event)" class="bg-gray-200 text-gray-700 font-medium py-1 px-3 text-sm  rounded-r hover:bg-gray-300 focus:outline-none focus:shadow-outline chartTypes">Boxplot</button>
          </div>


          
            {% block content %}{% endblock %}
        </div>

        <footer class="py-6 px-6 flex justify-between bg-gray-800">
            <div class="w-2/3 pr-10">
                <h3 class="mb-5 font-semibold text-gray-400">About</h3>
                <p class="text-lg text-gray-500">Lorep ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus.</p>
            </div>
            <div class="w-1/3">
                <h3 class="mb-5 font-semibold text-gray-400">Menu</h3>
                <ul class="space-y-2">
                    <li><a href="#" class="text-lg text-green-300 hover:text-green-300">About</li>
                    <li><a href="{% url 'index' %}" class="text-lg text-green-300 hover:text-green-300">Contact</li>
                    <li><a href="#" class="text-lg text-green-300 hover:text-green-300">Privacy policy</li>
                    <li><a href="#" class="text-lg text-green-300 hover:text-green-300">Term of use</li>
                </ul>
        </footer>
             <!-- Make sure you put this AFTER Leaflet's CSS -->
     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin="">
 </script>
    <script type="text/javascript" src="{% static 'js/main.js' %}" ></script>
    </body>
</html>