{% extends 'base.html' %}

{% load static %}

{% block title %}Welcome{% endblock %}

{% block content %}


<div class="mx-auto px-10 sm:px-6 lg:px-10 py-20">
  {% include 'inputs.html' %}
  <div class="flex p-5 gap-4 bg-white">
    <!-- Table-->
    <div class="bg-white p-6 rounded-2xl shadow-lg">
      <!-- <div class="font-bold text-lg mb-4">INFO</div> -->
      <table class="table-auto w-full border-collapse border border-gray-300">
        <tbody class="text-sm">
          <!--INFO Header-->
          <tr>
            <td class="px-4 py-2 font-bold">INFO</td>
            <td class="px-4 py-2 font-bold">Sensor 1</td>
            <td class="px-4 py-2 font-bold">Sensor 2</td>
          </tr>
          <tr class="bg-gray-100">
            <td class="px-4 py-2">Sensor Type</td>
            <td id="table-sensorType1" class="sensorType px-4 py-2"></td>
            <td id="table-sensorType2" class="sensorType px-4 py-2"></td>
          </tr>
          <tr>
            <td class="px-4 py-2">ID</td>
            <td id="table-sensorId1" class="px-4 py-2"></td>
            <td id="table-sensorId2" class="px-4 py-2"></td>
          </tr>
          <tr class="bg-gray-100">
            <td class="px-4 py-2">Last updated</td>
            <td id="table-lastUpdated1" class="px-4 py-2"></td>
            <td id="table-lastUpdated2" class="px-4 py-2"></td>
          </tr>
          <!-- <tr>
            <td class="px-4 py-2">Aggregated missing ticks</td>
            <td class="px-4 py-2">6 mins</td>
          </tr> -->
          <tr>
            <td class="px-4 py-2">NO2</td>
            <td class="table-no2Value px-4 py-2"></td>
          </tr>
          <tr>
            <td class="px-4 py-2">PM2.5</td>
            <td class="table-pm2_5Value px-4 py-2"></td>
          </tr>
          <tr>
            <td class="px-4 py-2">PM10</td>
            <td class="table-pm10Value px-4 py-2"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Card container -->
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:pt-20 gap-8">
      <!-- <div class="flex space-x-4"> -->
      <!-- NO2 card-->
      <div
        class="text-white rounded-2xl shadow-lg overflow-hidden flex flex-col p-6 space-y-4 w-52 h-40"
        id="no2card"
      >
        <div class="text-xs">The highest average NO2</div>
        <div class="no2Value font-bold text-4xl">
          <span class="text-lg">Unhealthy AQI</span>
        </div>
        <div class="flex justify-between text-xs">
          <div class="text-center">
            <div>Dominant pollutant</div>
            <div>☀️ NO2</div>
          </div>
        </div>
      </div>

      <!-- PM2.5 card -->
      <div
        class="text-white rounded-2xl shadow-lg overflow-hidden flex flex-col p-6 space-y-4 w-52 h-40"
        id="pm2_5card"
      >
        <div class="text-xs">The lowest average pollution</div>
        <div class="pm2_5Value font-bold text-4xl">
          <span class="text-lg">Healthy AQI</span>
        </div>
        <div class="text-xs text-center">
          <div>PM2.5</div>
        </div>
      </div>

      <!-- PM10 card -->
      <div
        class="text-white rounded-2xl shadow-lg overflow-hidden flex flex-col p-6 space-y-4 w-52 h-40"
        id="pm10card"
      >
        <div class="text-xs">The highest average pollution</div>
        <div class="pm10Value font-bold text-4xl">
          <span class="text-lg">Hazardous AQI</span>
        </div>
        <div class="text-xs text-center">
          <div>PM10</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Raw Data Line Charts -->
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-5"
    id="lineCharts">
    <div class="p-4 shadow rounded-lg bg-white">
      <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">NO2 Data</h2>
      <div><canvas id="no2LineChart"></canvas></div>
    </div>
    <div class="p-4 shadow rounded-lg bg-white">
      <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">PM2.5 Data</h2>
      <div><canvas id="pm2_5LineChart"></canvas></div>
    </div>
    <div class="p-4 shadow rounded-lg bg-white">
      <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">PM10 Data</h2>
      <div><canvas id="pm10LineChart"></canvas></div>
    </div>
  </div>

  <!-- Scatter plot-->
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-5"
    id="scatterPlots">
    <div class="p-4 shadow rounded-lg bg-white">
      <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">NO2</h2>
      <div><canvas id="no2ScatterPlot"></canvas></div>
    </div>
    <div class="p-4 shadow rounded-lg bg-white">
      <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">PM2.5</h2>
      <div><canvas id="pm2_5ScatterPlot"></canvas></div>
    </div>
    <div class="p-4 shadow rounded-lg bg-white">
      <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">PM10</h2>
      <div><canvas id="pm10ScatterPlot"></canvas></div>
    </div>
  </div>
  
  <!-- Box plot-->
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-6 mt-5"
    id="scatterPlots">
    <div class="p-4 shadow rounded-lg bg-white">
      <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">NO2</h2>
      <div><canvas id="no2BoxPlot"></canvas></div>
    </div>
    <div class="p-4 shadow rounded-lg bg-white">
      <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">PM2.5</h2>
      <div><canvas id="pm2_5BoxPlot"></canvas></div>
    </div>
    <div class="p-4 shadow rounded-lg bg-white">
      <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">PM10</h2>
      <div><canvas id="pm10BoxPlot"></canvas></div>
    </div>
  </div>

  <!-- Days comparison Box plot-->
  <div class="flex flex-col p-5 my-10">
    <div>
      <h2 class="text-lg font-medium leading-6 text-gray-900 mb-4 px-4 py-3 inline-block border-b-2 border-transparent hover:border-gray-300">
        Compare selected date against:
      </h2>
      <!-- Compare trend Tabs -->
      <ul class="flex">
        <li class="mr-1">
          <button
            class="py-2 px-4 inline-block border-b-2 border-transparent multiChartComparisonTabs"
            onclick="switchDaysComparisonTab(event, 'Last7Days')">
            Last 7 Days
          </button>
        </li>
        <li class="mr-1">
          <button
            class="py-2 px-4 inline-block border-b-2 border-transparent multiChartComparisonTabs"
            onclick="switchDaysComparisonTab(event, 'SameDayLast7Weeks')">
            Same day for last 7 weeks
          </button>
        </li>
      </ul>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 bg-white">
      <div class="p-4 border-gray-200 border-2 my-2 rounded-lg bg-white ml-2">
        <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">
          NO2
        </h2>
        <div>
          <canvas id="no2DaysBoxPlot"></canvas>
        </div>
      </div>
      <div class="p-4 border-gray-200 border-2 my-2 rounded-lg bg-white">
        <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">
          PM2.5
        </h2>
        <div>
          <canvas id="pm2_5DaysBoxPlot"></canvas>
        </div>
      </div>
      <div class="p-4 border-gray-200 border-2 my-2 rounded-lg bg-white mr-2">
        <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">
          PM10
        </h2>
        <div>
          <canvas id="pm10DaysBoxPlot"></canvas>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/compare.js' %}"></script>
<script type="text/javascript">
  let sensorType1="{{ sensorType1|escapejs }}";
  let sensorId1="{{ sensorId1|escapejs }}";
  let date="{{ date|escapejs }}";
    document.addEventListener('DOMContentLoaded', function() {
  let sensorTypeSelect = document.getElementById("sensorTypeSelect1"); //get select of sensor type list
  if (sensorType1 !="None")  sensorTypeSelect.value = sensorType1; //set sensor type 1
  //get the type id of selected sensor type
  let selectedType = sensorTypeSelect.options[sensorTypeSelect.selectedIndex];
  let typeid1 = selectedType.getAttribute("data-id"); //get sensor type id 1
  let sensorIdSelect1 = document.getElementById("sensorIdSelect1"); //get select of sensor id list
  if (date !="None")  document.getElementById('dateInput').value = date;
  fetchSensorIDs(typeid1).then((sensorData1) => {
    populateSensorOptions(sensorIdSelect1, sensorData1); //populate sensor ids of first sensor list
    if (sensorId1 !="None")   sensorIdSelect1.value = `${sensorId1}`; //set sensor id 1
    sensorTypeChanged(2);
  });
  });
</script>
{% endblock %}