{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}



  {% include 'inputs.html' %}  
  <div class="grid lg:grid-cols-4 sm:grid-cols-2 gap-4 bg-white p-6 rounded-sm shadow-xs"> 

    <div class="col-span-2 flex flex-col justify-between space-y-10 ">
      <div>
        <h2 class="text-lg md:text-xl lg:text-2xl font-bold text-gray-700 mb-10">
          Air Quality Index
        </h2>
        <!-- AQI Cards -->
        <div class="grid grid-cols-1 md:grid-cols-3 lg:gap-48 lg:grid-cols-3 lg:pt-20 gap-8 items-stretch">
          <!-- NO2 card-->
          <div class="text-black rounded-2xl shadow-lg overflow-hidden flex flex-col justify-between p-4 w-44 h-36 bg-gray-300 hidden" id="no2card">
            <div class="flex justify-end items-center mt-2 mr-2">
              <img src="{% static 'icons/no2.svg' %}" alt="NO<sub>2</sub>" class="w-10 h-10">
            </div>
            <div class="flex-grow">
              <div class="font-bold text-xl">
                <span id="no2AQIDesc" class="text-xl"></span>
              </div>
              <div class="text-md">
                <div><span class="text-md font-semibold">NO<sub>2</sub></span>  Daily AQI - <span id="no2AQI"></span></div>
              </div>
            </div>
          </div>
          <!-- PM2.5 card -->
          <div class="text-black rounded-2xl shadow-lg overflow-hidden flex flex-col justify-between p-4 w-44 h-36 bg-gray-300 hidden" id="pm2_5card">
            <div class="flex justify-end items-center">
              <img src="{% static 'icons/pm2_5.svg' %}" alt="PM2_5" class="w-12 h-12">
            </div>
            <div class="flex-grow">
              <div class="font-bold text-xl">
                <span id="pm2_5AQIDesc" class="text-xl"></span>
              </div>
              <div class="text-md">
                <div><span class="text-md font-semibold">PM<sub>2.5</sub></span>  Daily AQI - <span id="pm2_5AQI"></span></div>
              </div>
            </div>
          </div>

          <!-- PM10 card -->
          <div class="text-black rounded-2xl shadow-lg overflow-hidden flex flex-col justify-between p-4 w-44 h-36 bg-gray-300 hidden" id="pm10card">
            <div class="flex justify-end items-center mt-1 mr-2">
              <img src="{% static 'icons/pm10.svg' %}" alt="PM₁₀" class="w-10 h-10">
            </div>
            <div class="flex-grow">
              <div class="font-bold text-xl">
                <span id="pm10AQIDesc" class="text-xl"></span>
              </div>
              <div class="text-md">
                <div><span class="text-md font-semibold">PM<sub>10</sub></span>  Daily AQI - <span id="pm10AQI"></span></div>
              </div>
            </div>
          </div>
        </div>  
      </div>

         <!--AQI Guide Legend Table-->
      <div class="col-span-2 row-span-2 p-6 rounded-sm shadow-xs">
        <div class="flex items-end space-x-4">
          <div onclick="toggleLegend('aqiGuideLegend')" class="cursor-pointer bg-gray-300 text-sm m-2 p-2 rounded-md shadow hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50 w-32" tabindex="0">
            Legend <span id="toggleLegendSymbol">  ▲</span>
          </div>
          <table class="table-auto w-full border-collapse border border-gray-400" style="display: none;" id="aqiGuideLegend">
            <tbody class="text-sm" >
              <tr>
                <th class="px-4 py-2 border-r border-gray-400">Air Pollution Banding</th>
                <td class="px-4 py-2 border-r border-gray-400" colspan="3">Low</td>
                <td class="px-4 py-2 border-r border-gray-400" colspan="3">Moderate</td>
                <td class="px-4 py-2 border-r border-gray-400" colspan="3">High</td>
                <td class="px-4 py-2 border-r border-gray-400">Very High</td>
              </tr>
              <tr>
                <th class="px-4 py-2 border-r border-gray-400">AQI Value</th>
                <td class="px-4 py-2 border-r border-gray-400" style="background-color: #a0fc9c;">1</td>
                <td class="px-4 py-2 border-r border-gray-400" style="background-color: #38fc04;">2</td>
                <td class="px-4 py-2 border-r border-gray-400" style="background-color: #38cc04;">3</td>
                <td class="px-4 py-2 border-r border-gray-400" style="background-color: #fffc04;">4</td>
                <td class="px-4 py-2 border-r border-gray-400" style="background-color: #fccc04;">5</td>
                <td class="px-4 py-2 border-r border-gray-400" style="background-color: #ff9c04;">6</td>
                <td class="px-4 py-2 border-r border-gray-400" style="background-color: #ff6464;">7</td>
                <td class="px-4 py-2 border-r border-gray-400" style="background-color: #ff0404;">8</td>
                <td class="px-4 py-2 border-r border-gray-400" style="background-color: #a00404;">9</td>
                <td class="px-4 py-2 border-r border-gray-400" style="background-color: #d034fc;">10</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <a href="{%url 'aqiguide' %}" class="text-indigo-600 hover:text-indigo-900 transition duration-300 ease-in-out">
          View AQI Guide
        </a>
      </div>
    </div>

    <!-- Sensor Info Table-->
    <div class="col-span-2 p-2 w-1/2 lg:ml-auto shadow-sm">
      <table class="w-full border-collapse border-[1px] text-sm">
        <tbody>
          <tr class="font-semibold text-gray-800">
            <td colspan="2" class="px-4 py-3"></td>
          </tr>
          <tr class="bg-gray-100">
            <td class="px-4 py-2 font-semibold">Sensor Type</td>
            <td id="sensorType" class="px-4 py-2"></td>
          </tr>
          <tr>
            <td class="px-4 py-2 font-semibold">ID</td>
            <td id="sensorId" class="px-4 py-2"></td>
          </tr>
          <tr class="bg-gray-100">
            <td class="px-4 py-2 font-semibold">Last updated</td>
            <td id="lastUpdated" class="px-4 py-2"></td>
          </tr>
          <tr>
            <td class="px-4 py-2 font-semibold">NO<sub>2</sub> <span class="text-2xs"> max hourly avg </span> (µg/m<sup>3</sup>)</td>
            <td id="no2Value" class="px-4 py-2"></td>
          </tr>
          <tr class="bg-gray-100">
            <td class="px-4 py-2 font-semibold">PM<sub>2.5</sub> <span class="text-2xs"> 24 hour avg </span> (µg/m<sup>3</sup>)</td>
            <td id="pm2_5Value" class="px-4 py-2"></td>
          </tr>
          <tr>
            <td class="px-4 py-2 font-semibold">PM<sub>10</sub> <span class="text-2xs">  24 hour avg </span> (µg/m<sup>3</sup>)</td>
            <td id="pm10Value" class="px-4 py-2"></td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>

  <div class="flex flex-col mx-5 my-7">
    <div>
      <ul class="flex">
        <li class="mr-1">
          <button class="py-2 px-4 inline-block periodTabs" id="rawdataTab" onclick="switchPeriodTab(event, 'RawDataLineCharts')"> Raw Data
          </button>
        </li>
        <li class="mr-1">
          <button class="py-2 px-4 inline-block periodTabs" id="hourlyTab" onclick="switchPeriodTab(event, 'HourlyBarCharts')"> Hourly averages
          </button>
        </li>
        <span data-tooltip-target="chartTooltip" >
          <img src="{% static 'icons/help.svg' %}" alt="help" class="w-6 h-6">
        </span>
        <div id="chartTooltip" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-xs font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
          <p class="text-xs">Hover over the charts to see the values at each point.</p>
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
      </ul>

      
    </div>

    <div class="bg-white">
      <!-- Raw Data Line Charts -->
      <div id="rawdataLineCharts">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          <div class="p-4 border-gray-300 border-[1px] my-2 bg-white ml-2">
            <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">NO<sub>2</sub> Data</h2>
            <div><canvas id="no2LineChart"></canvas></div>
          </div>
          <div class="p-4 border-gray-300 border-[1px] my-2 bg-white">
            <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">PM<sub>2.5</sub> Data</h2>
            <div><canvas id="pm2_5LineChart"></canvas></div>
          </div>
          <div class="p-4 border-gray-300 border-[1px] my-2 bg-white mr-2">
            <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">PM<sub>10</sub> Data</h2>
            <div><canvas id="pm10LineChart"></canvas></div>
          </div>
        </div>
      </div>
      <!-- Hourly averages bars-->
      <div id="hourlyBarCharts">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          <div class="p-4 border-gray-300 border-[1px] my-2 bg-white ml-2">
            <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">
              NO<sub>2</sub> Hourly averages
            </h2>
            <div><canvas id="no2HourlyAvgChart"></canvas></div>
          </div>
          <div class="p-4 border-gray-300 border-[1px] my-2 bg-white">
            <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">
              PM<sub>2.5</sub> Hourly averages
            </h2>
            <div><canvas id="pm2_5HourlyAvgChart"></canvas></div>
          </div>
          <div class="p-4 border-gray-300 border-[1px] my-2 bg-white mr-2">
            <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">
              PM<sub>10</sub> Hourly averages
            </h2>
            <div><canvas id="pm10HourlyAvgChart"></canvas></div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="flex flex-col p-5 mt-10">
    <div>
      <h2 class="text-xl font-medium leading-6 text-gray-900 mb-4 py-3 inline-block hover:border-gray-300">
        Compare selected date against:
      </h2>
      <!-- Compare trend Tabs -->
      <ul class="flex">
        <li class="mr-1">
          <button id="last7daysTab" class="py-2 px-4 inline-block multiChartComparisonTabs" onclick="switchDaysComparisonTab(event, 'Last7Days')"> Last 7 Days</button>
        </li>
        <li class="mr-1">
          <button  id="last7weeksTab" class="py-2 px-4 inline-block multiChartComparisonTabs" onclick="switchDaysComparisonTab(event, 'SameDayLast7Weeks')"> Same day for last 7 weeks</button>
        </li>
        <span data-tooltip-target="compareDaysTooltip" >
          <img src="{% static 'icons/help.svg' %}" alt="help" class="w-6 h-6">
        </span>
        <div id="compareDaysTooltip" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-xs font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
          <p class="text-xs">Compare the selected date (indicated in black line) against other days using their hourly averages. The colored lines correspond to previous days or weeks.<br>Click the legends to toggle data visibility.</p>
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
      </ul>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 bg-white">
      <div class="p-4 border-gray-300 border-[1px] my-2 bg-white ml-2">
        <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">
          NO<sub>2</sub>
        </h2>
        <div>
          <canvas id="no2ComparisonMultiChart"></canvas>
        </div>
      </div>
      <div class="p-4 border-gray-300 border-[1px] my-2 bg-white">
        <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">
          PM<sub>2.5</sub>
        </h2>
        <div>
          <canvas id="pm2_5ComparisonMultiChart"></canvas>
        </div>
      </div>
      <div class="p-4 border-gray-300 border-[1px] my-2 bg-white mr-2">
        <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">
          PM<sub>10</sub>
        </h2>
        <div>
          <canvas id="pm10ComparisonMultiChart"></canvas>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>

{% endblock %}
