{% extends 'base.html' %}

{% load static %}

{% block title %}Welcome{% endblock %}

{% block content %}


<div class="mx-auto px-10 sm:px-6 lg:px-10 py-20">

  {% include 'inputs.html' %}  
  <div class="grid grid-cols-4 gap-4"> 
    <!-- Card container -->
    <div class="col-span-2 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:pt-20 gap-8">
      <!-- <div class="flex space-x-4"> -->
      <!-- NO2 card-->
      <div class="text-white rounded-2xl shadow-lg overflow-hidden flex flex-col p-6 space-y-4 w-52 h-40"
        id="no2card">
        <div class="text-xs">Highest average NO2 at </div>
        <div class="font-bold text-4xl">
          <span id="no2AQIDesc" class="text-lg"></span>
        </div>
        <div class="flex justify-between text-xs">
          <div class="text-center">
            <div>Dominant pollutant</div>
            <div>☀️ NO2</div>
          </div>
        </div>
      </div>

      <!-- PM2.5 card -->
      <div class="text-white rounded-2xl shadow-lg overflow-hidden flex flex-col p-6 space-y-4 w-52 h-40"
        id="pm2_5card">
        <div class="font-bold text-4xl">
          <span id="pm2_5AQIDesc" class="text-lg"></span>
        </div>
        <div class="text-xs text-center">
          <div>PM2.5</div>
        </div>
      </div>

      <!-- PM10 card -->
      <div class="text-white rounded-2xl shadow-lg overflow-hidden flex flex-col p-6 space-y-4 w-52 h-40"
        id="pm10card">
        <div class="font-bold text-4xl">
          <span id="pm10AQIDesc" class="text-lg"></span>
        </div>
        <div class="text-xs text-center">
          <div>PM10</div>
        </div>
      </div>
    </div>

    <!--AQI Legend-->
    <div class="col-span-2 row-span-2 bg-white p-6 rounded-sm shadow-xs">
      <!-- <div class="font-bold text-lg mb-4">AQI Legend</div> -->
      <table class="table-auto w-full border-collapse border border-gray-300">
        <thead>
          <tr class="border-b-2">
            <th class="px-4 py-2 border-r w-1/12">AQI Value</th>
            <th class="px-4 py-2 border-r w-1/12">Air Pollution Banding</th>
            <th class="px-4 py-2 border-r max-w-xs">Health Messages for at risk individuals*</th>
            <th class="px-4 py-2 border-r max-w-xs">Health messages for the general population</th>
          </tr>
        </thead>
        <tbody class="text-sm">
          <!-- Low Category -->
          <tr>
            <td class="px-4 py-2 border-r w-1/12" style="background-color: #a0fc9c;">1</td>
            <td class="px-4 py-2 border-r max-w-xs" rowspan="3">Low</td>
            <td class="px-4 py-2 border-r max-w-xs" rowspan="3">
              Enjoy your usual outdoor activities
            </td>
            <td class="px-4 py-2" rowspan="3">
              Enjoy your usual outdoor activities
            </td>
          </tr>
          <tr>
            <td class="px-4 py-2 border-r w-1/12" style="background-color: #38fc04;">2</td>
          </tr>
          <tr class="border-b-2">
            <td class="px-4 py-2 border-r w-1/12" style="background-color: #38cc04;">3</td>
          </tr>
          <!-- Moderate Category -->
          <tr>
            <td class="px-4 py-2 border-r w-1/12" style="background-color: #fffc04;">4</td>
            <td class="px-4 py-2 border-r max-w-xs" rowspan="3">Moderate</td>
            <td class="px-4 py-2 border-r max-w-xs" rowspan="3">
              Adults and children with lung problems, and adults with heart problems, who experience symptoms, should consider reducing strenuous physical activity, particularly outdoors.	
            </td>
            <td class="px-4 py-2" rowspan="3">
              Enjoy your usual outdoor activities
            </td>
          </tr>
          <tr>
            <td class="px-4 py-2 border-r w-1/12" style="background-color: #fccc04;">5</td>
          </tr>
          <tr class="border-b-2">
            <td class="px-4 py-2 border-r w-1/12" style="background-color: #ff9c04;">6</td>
          </tr>
          <!-- High Category -->
          <tr>
            <td class="px-4 py-2 border-r w-1/12" style="background-color: #ff6464;">7</td>
            <td class="px-4 py-2 border-r max-w-xs" rowspan="3">High</td>
            <td class="px-4 py-2 border-r max-w-xs" rowspan="3">
              Adults and children with lung problems, and adults with heart problems, should reduce strenuous physical exertion, particularly outdoors, and particularly if they experience symptoms. People with asthma may find they need to use their reliever inhaler more often. Older people should also reduce physical exertion.	
            </td>
            <td class="px-4 py-2 max-w-xs" rowspan="3">
              Anyone experiencing discomfort such as sore eyes, cough or sore throat should consider reducing activity, particularly outdoors.
            </td>
          </tr>
          <tr>
            <td class="px-4 py-2 border-r w-1/12" style="background-color: #ff0404;">8</td>
          </tr>
          <tr class="border-b-2">
            <td class="px-4 py-2 border-r w-1/12" style="background-color: #a00404;">9</td>
          </tr>
          <!-- Very High Category -->
          <tr>
            <td class="px-4 py-2 border-r w-1/12" style="background-color: #d034fc;">10</td>
            <td class="px-4 py-2 border-r w-1/12">Very High</td>
            <td class="px-4 py-2 border-r max-w-xs">
              Adults and children with lung problems, adults with heart problems, and older people, should avoid strenuous physical activity. People with asthma may find they need to use their reliever inhaler more often.	            </td>
            <td class="px-4 py-2 max-w-xs">
              Reduce physical exertion, particularly outdoors, especially if you experience symptoms such as cough or sore throat.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    

    <!-- Info Table-->
    <div class="bg-white p-2 rounded-sm shadow-xs">
      <!-- <div class="font-bold text-lg mb-4">INFO</div> -->
      <table class="table-auto w-full h-full border-collapse border border-gray-300">
        <tbody class="text-sm">
          <!--INFO Header-->
          <tr>
            <td class="px-4 py-2 font-bold">INFO</td>
          </tr>
          <tr class="bg-gray-100">
            <td class="px-4 py-2">Sensor Type</td>
            <td id="sensorType" class="sensorType px-4 py-2"></td>
          </tr>
          <tr>
            <td class="px-4 py-2">ID</td>
            <td id="sensorId" class="px-4 py-2"></td>
          </tr>
          <tr class="bg-gray-100">
            <td class="px-4 py-2">Last updated</td>
            <td id="lastUpdated" class="px-4 py-2"></td>
          </tr>
          <!-- <tr>
            <td class="px-4 py-2">Aggregated missing ticks</td>
            <td class="px-4 py-2">6 mins</td>
          </tr> -->
          <tr>
            <td class="px-4 py-2">NO2</td>
            <td id="no2Value" class="px-4 py-2"></td>
          </tr>
          <tr>
            <td class="px-4 py-2">PM2.5</td>
            <td id="pm2_5Value" class="px-4 py-2"></td>
          </tr>
          <tr>
            <td class="px-4 py-2">PM10</td>
            <td id="pm10Value" class="px-4 py-2"></td>
          </tr>
        </tbody>
      </table>
    </div>
 
  </div>

  <div class="flex flex-col p-5 my-10">
    <div>
      <!-- Compare trend Tabs -->
      <ul class="flex">
        <li class="mr-1">
          <button
            class="py-2 px-4 inline-block border-b-2 border-transparent periodTabs"
            id="hourlyTab"
            onclick="switchPeriodTab(event, 'HourlyData')">
            Hourly averages
          </button>
        </li>
        <li class="mr-1">
          <button
            class="py-2 px-4 inline-block border-b-2 border-transparent periodTabs"
            id="rawTab"
            onclick="switchPeriodTab(event, 'RawData')">
            Raw Data
          </button>
        </li>
      </ul>
    </div>

    <div class="bg-white">
      <!-- Hourly averages bars-->
      <div id="hourlydata">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          <div class="p-4 border-gray-200 border-2 my-2 rounded-lg bg-white ml-2">
            <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">
              NO2 Hourly averages
            </h2>
            <div><canvas id="no2HourlyAvgChart"></canvas></div>
          </div>
          <div class="p-4 border-gray-200 border-2 my-2 rounded-lg bg-white">
            <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">
              PM2.5 Hourly averages
            </h2>
            <div><canvas id="pm2_5HourlyAvgChart"></canvas></div>
          </div>
          <div class="p-4 border-gray-200 border-2 my-2 rounded-lg bg-white mr-2">
            <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">
              PM10 Hourly averages
            </h2>
            <div><canvas id="pm10HourlyAvgChart"></canvas></div>
          </div>
        </div>
      </div>

      <!-- Raw Data Line Charts -->
      <div id="rawdata">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          <div class="p-4 border-gray-200 border-2 my-2 rounded-lg bg-white ml-2">
            <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">NO2 Data</h2>
            <div><canvas id="no2LineChart"></canvas></div>
          </div>
          <div class="p-4 border-gray-200 border-2 my-2 rounded-lg bg-white">
            <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">PM2.5 Data</h2>
            <div><canvas id="pm2_5LineChart"></canvas></div>
          </div>
          <div class="p-4 border-gray-200 border-2 my-2 rounded-lg bg-white mr-2">
            <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">PM10 Data</h2>
            <div><canvas id="pm10LineChart"></canvas></div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="flex flex-col p-5 my-10">
    <div>
      <h2 class="text-lg font-medium leading-6 text-gray-900 mb-4 px-4 py-3 inline-block border-b-2 border-transparent hover:border-gray-300">
        Compare selected date against:
      </h2>
      <!-- Compare trend Tabs -->
      <ul class="flex">
        <li class="mr-1">
          <button
            class="py-2 px-4 inline-block border-b-2 border-transparent multiChartComparisonTabs"
            onclick="switchDaysComparisonTab(event, 'Last7Days')">
            Last 7 Days
          </button>
        </li>
        <li class="mr-1">
          <button
            class="py-2 px-4 inline-block border-b-2 border-transparent multiChartComparisonTabs"
            onclick="switchDaysComparisonTab(event, 'SameDayLast7Weeks')">
            Same day for last 7 weeks
          </button>
        </li>
      </ul>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 bg-white">
      <div class="p-4 border-gray-200 border-2 my-2 rounded-lg bg-white ml-2">
        <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">
          NO2
        </h2>
        <div>
          <canvas id="no2ComparisonMultiChart"></canvas>
        </div>
      </div>
      <div class="p-4 border-gray-200 border-2 my-2 rounded-lg bg-white">
        <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">
          PM2.5
        </h2>
        <div>
          <canvas id="pm2_5ComparisonMultiChart"></canvas>
        </div>
      </div>
      <div class="p-4 border-gray-200 border-2 my-2 rounded-lg bg-white mr-2">
        <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">
          PM10
        </h2>
        <div>
          <canvas id="pm10ComparisonMultiChart"></canvas>
        </div>
      </div>
    </div>
  </div>

  <!-- Map -->
  <div id="map" class="z-0"></div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}
