{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}

    
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6" id="allCharts">
        <div class="p-4 shadow rounded-lg bg-white">
            <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">NO2</h2>
            <div><canvas id="no2Chart" class="chartsCanvas"></canvas></div>
        </div>
        <div class="p-4 shadow rounded-lg bg-white">
            <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">VOC</h2>
            <div><canvas id="vocChart" class="chartsCanvas"></canvas></div>
        </div>
        <div class="p-4 shadow rounded-lg bg-white">
            <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">PM10</h2>
            <div><canvas id="particulatepm10Chart" class="chartsCanvas"></canvas></div>
        </div>
        <div class="p-4 shadow rounded-lg bg-white">
            <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">PM2.5</h2>
            <div><canvas id="particulatepm2_5Chart" class="chartsCanvas"></canvas></div>
        </div>
        <div class="p-4 shadow rounded-lg bg-white">
            <h2 class="text-sm font-medium leading-6 text-gray-900 mb-4">PM1</h2>
            <div><canvas id="particulatepm1Chart" class="chartsCanvas"></canvas></div>
        </div>
    </div>


<!--Place map right next to graph-->
<!-- Map -->
<div id="map" class="z-0"></div>
{% endblock %}
