 <form method="post" id="inputsForm">
  <div class="flex flex-col sm:flex-row md:flex-row gap-4 md:gap-6 lg:gap-1 mb-10 mt-8">
  {% csrf_token %}
  <div class="flex flex-col gap-2 w-2/3">
    <!-- Sensor selection dropdowns -->
    <div class="flex flex-col sm:flex-row  md:space-x-20 lg:space-x-28">
      <div class="sm:w-full lg:w-1/5">
        <label for="sensorType1" class="block text-md font-semibold text-gray-700">Sensor Type:</label>
        <select id="sensorType1" name="sensorType1" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" onchange="sensorTypeChanged(1)">
          {% if all_sensor_types %} 
          {% for id, data in all_sensor_types.items %}
          <option value="{{ data.name }}" data-id="{{ id }}">
              {{ data.name }}
          </option>
          {% endfor %} 
        {% endif %}
        </select>
      </div>
      <div class="sm:w-full lg:w-1/5 hidden" id="sensorTypeDiv2">
        <label for="sensorType2" class="block text-md font-semibold text-gray-700">Sensor Type 2:</label>
        <select id="sensorType2" name="sensorType2" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" onchange="sensorTypeChanged(2)">
          {% if all_sensor_types %} 
          {% for id, data in all_sensor_types.items %}
          <option value="{{ data.name }}" data-id="{{ id }}">
              {{ data.name }}
          </option>
          {% endfor %} 
        {% endif %}
        </select>
      </div>
    </div>

    <!-- Sensor Ids -->
    <div class="flex flex-col sm:flex-row  md:space-x-20 lg:space-x-28">
      <div class="sm:w-full lg:w-1/5 mt-4 sm:mt-0">
        <label for="sensorId1" class="block text-md font-semibold text-gray-700">Sensor ID:</label>
        <select id="sensorId1" name="sensorId1" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" onchange="fetchData()">
        </select>
      </div>
      <div class="sm:w-full lg:w-1/5 mt-4 sm:mt-0 hidden" id="sensorIdDiv2">
        <label for="sensorId2" class="block text-md font-semibold text-gray-700">Sensor ID 2:</label>
        <select id="sensorId2" name="sensorId2" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" onchange="fetchData()">
        </select>
      </div>
    </div>
  </div>
  <!--Date input-->
  <div class="flex flex-col sm:w-1/3 mt-4 sm:mt-0 sm:ml-20">
    <label for="dateInput" class="block text-md font-semibold text-gray-700">Date:</label>
    <input type="date" min="2000-01-01" id="dateInput" name="dateInput" class="mt-1 block w-3/4 sm:w-64 pl-3 pr-2 py-2 border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md shadow-lg" onchange="fetchData()"/>
  </div>
 
</div>
</form>

<div>
  <button type="button" onclick="fetchData()" class="mb-8 ml-8 inline-flex items-center px-4 py-2 text-md font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
    Refresh
  </button>
</div>
<script type="text/javascript">
  const all_sensor_types =JSON.parse('{{ all_sensor_types_json|safe }}');
</script>